---
layout: page
header: disable
title: Home
---
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="15000">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="rgb(75, 0, 130)"/></svg>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Machine Learning with PHP</h1>
          <p>Rindow Neural Networks is designed to make it easy to use machine learning even in ordinary environments. It can be easily made on a laptop computer.</p>
          <p><a class="btn btn-lg btn-success" href="/neuralnetworks/index.html" role="button">Get started</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="15000">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="rgb(75, 0, 130)"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Data analysis with PHP</h1>
          <p>Do you build a dedicated environment just for data analysis? Rindow Math libraries is a library that is seamless with existing web applications.</p>
          <p><a class="btn btn-lg btn-success" href="/mathematics/index.html" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="15000">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="rgb(75, 0, 130)"/></svg>
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>High Levels of Modularity</h1>
          <p>Whether you want to replace an outdated part in hardware or software is the same. You can develop PHP applications that can replace parts with Rindow framework.</p>
          <p><a class="btn btn-lg btn-success" href="/framework/index.html" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <!--svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg -->
      <img class="bd-placeholder-img rounded" width="140" height="140" alt="Placeholder" src="/assets/themes/rindow/img/brain.svg">
      <h2>Neural Networks</h2>
      <p>Rindow Neural Networks is a high-level neural networks library for deep learning. The development environment can be as small as possible, developed on a common laptop, and uploaded to a common web server. The goal is to have many people use machine learning.</p>
      <p><a class="btn btn-secondary" href="/neuralnetworks/index.html" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <!--svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
      <img class="bd-placeholder-img rounded" width="140" height="140" alt="Placeholder" src="/assets/themes/rindow/img/graph.svg">
      <h2>Mathematics</h2>
      <p>Rindow math libraries efficiently supports matrix operations in PHP. Get even faster the processing speed with dedicated PHP extensions. The results can also be displayed in graphs in an easy-to-view format. Realistic data analysis can be performed without using Python or R.</p>
      <p><a class="btn btn-secondary" href="/mathematics/index.html" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <!--svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg-->
      <img class="bd-placeholder-img rounded" width="140" height="140" alt="Placeholder" src="/assets/themes/rindow/img/puzzle.svg">
      <h2>Framework</h2>
      <p>Rindow framework's Inversion of Control (IoC), Dependency injection (DI) and Aspect Oriented Programming (AOP) features provide the basis for a wide range of features. All forms of PHP applications can be created as parts and provided as modules that can be exchanged at any time.</p>
      <p><a class="btn btn-secondary" href="/framework/index.html" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Off the chain</h2>
      <p class="lead">Everyone will tell us, "Do you have to use PHP for machine learning?". Experience the processing speed of Rindow. Experience the portability of Rindow. Here is the answer. Let's be released from common sense and step into a new world.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Off the chain" src="/assets/themes/rindow/img/mnist.png">
      <!--svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg-->
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Decluttering</h2>
      <p class="lead">Are those who ridicule Monolith escaped from the module spells? Are you stuck in the old parts combination? The essence of modularization is neither reuse nor distributed development. Separating and discarding parts keeps the whole system healthy. Experience deculture in Rindow.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Decluttering" src="/assets/themes/rindow/img/gears.svg">
      <!--svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg-->
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Interoperability</h2>
      <p class="lead">Rindow aims to replace itself with others. What remains when it is gone is the definition of the interface. We are creating everything with the goal of defining interfaces that are independent of Rindow. Want to join a new standard?</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Decluttering" src="/assets/themes/rindow/img/microservices.svg">
      <!--svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg-->
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% comment %}

Choice widgets which you like.
It can be used if you put out a widget to the outside of the comment.

{% include widgets/highlightbox.html %}
{% include widgets/highlight.html %}
{% include widgets/post-list.html %}
{% include widgets/doc-list.html %}

{% endcomment %}
