{% capture header_style %}{% include get-theme-value name="header_style" %}{% endcapture %}
{% if page.collection %}
  {% comment %} Collection can not inherit page property. {% endcomment %}
  {% include set-current-collection %}{% assign header = globalcurrentcollection %}
{% elsif page.type == "blog" %}
  {% assign header = site.blog %}
{% else %}
  {% assign header = page %}
{% endif %}
{% if header.header != "disable" %}

<div role="banner" class="jumbotron{% if header_style == "fluid" %} jumbotron-fluid{% endif %}">
  {% if header_style == "fluid" %}<div class="container">{% endif %}
  {% if header.title %}
    <h1 class="{% include get-theme-value name="header_title_class" %}">{{ header.title }}</h1>
    <p class="{% include get-theme-value name="header_description_class" %}">{{ header.description }}</p>
  {% else %}
    <h1 class="{% include get-theme-value name="header_title_class" %}">{{ site.title }}</h1>
    <p class="{% include get-theme-value name="header_description_class" %}">{{ site.description }}</p>
  {% endif %}
  {% if header_style == "fluid" %}</div>{% endif %}
</div>
{% endif %}
