{% capture navbar_brand_image %}{% include get-theme-value name="navbar_brand_image" %}{% endcapture %}
{% capture navbar_brand_icon %}{% include get-theme-value name="navbar_brand_icon" %}{% endcapture %}
{% capture navbar_brand_caption %}{% include get-theme-value name="navbar_brand_caption" %}{% endcapture %}
{% capture navbar_search_box %}{% include get-theme-value name="navbar_search_box" %}{% endcapture %}
{% capture navbar_style %}{% include get-theme-value name="navbar_style" %}{% endcapture %}
<nav class="navbar{% if navbar_style != "" %} {{ navbar_style }}{% endif %}" role="navigation">
    {% if navbar_brand_image != "" %}<a href="{{ '/' | relative_url }}"><img src="{{ navbar_brand_image | relative_url }}" class="brand-image navbar-brand" alt="{{ navbar_brand_image_alt }}"></a>{% endif %}<a class="navbar-brand" href="{{ '/' | relative_url }}">{% if navbar_brand_icon != "" %}<span class="glyphicon {{ navbar_brand_icon }}"></span>{% endif %}{% if navbar_brand_caption != "" %}<span class="brand-caption">{{ navbar_brand_caption }}</span>{% endif %}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      {% for nav in site.navbar.menu %}
        {% if nav.menu %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ nav.caption }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for menu_item in nav.menu %}
              {% if menu_item.separator %}
                <div class="{{ menu_item.separator }}"></div>
              {% else %}
                <a class="dropdown-item" href="{{ menu_item.link | relative_url }}">{{ menu_item.caption }}</a>
              {% endif %}
            {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item{% if page.url contains nav.link %} active{% endif %}"><a class="nav-link" href="{{ nav.link | relative_url }}">{{ nav.caption }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
      {%- if navbar_search_box != "" -%}
        {%- if site.google_custom_search_engine_id -%}
          {%- include services/google-cse.html inline="true" formclass="my-2 my-lg-0" inputclass="mr-sm-2" placeholder="Search" aria_label="Search" -%}
        {%- else -%}<form class="form-inline my-2 my-lg-0" action="https://www.google.com/search" method="get" role="form" onSubmit="return sitesearchauxi(this.elements[0]);">
          <input class="form-control mr-sm-2" type="search" name="q" results="0" placeholder="Search"/>
      </form>{%- endif -%}
      {%- endif -%}
    </div><!--/.nav-collapse -->
</nav>
