{% include set-current-collection %}{% assign collection = globalcurrentcollection %}
{% if page.type == "blog" and site.blog.sidearea[include.name] %}
{% assign sidearea = site.blog.sidearea[include.name] %}
{% elsif page.collection and collection and collection.sidearea[include.name] %}
{% assign sidearea = collection.sidearea[include.name] %}
{% elsif site.data.widgets.sidearea.default[include.name] %}
{% assign sidearea = site.data.widgets.sidearea.default[include.name] %}
{% else %}
{% assign sidearea = null %}
{% endif %}
{% if sidearea %}
<div role="complementary" class="sidearea sidearea-{{ include.name }}">
{% for widget in sidearea.widgets %}
  {% if widget.name %}{% assign dataname = widget.name %}{% else %}{% assign dataname = "default" %}{% endif %}
  {% assign datatmp = site.data.widgets[widget.widget] %}{% assign data = datatmp[dataname] %}
  {% include {{ widget.widget | prepend: "widgets/" | append: ".html" }} options=widget data=data %}
{% endfor %}
</div>
{% endif %}
