{% if site.google_custom_search_engine_id %}
<div class="widgetwrapper widget-google-cse reset-box-sizing">
{% if include.caption %}<h4>{{ include.caption }}</h4>{% endif %}
<script>
  (function() {
    var cx = '{{ site.google_custom_search_engine_id }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
{% endif %}