---
---
.widget-nav {
    ul {
        list-style-type: none;
        padding-inline-start: 1em;
    }
}
.widget-nav > ul {
    padding-inline-start: 0;
}
pre.highlight {
    padding: 1em;
    border: solid;
    border-color: #f0f0f0;
    border-width: 1px;
}
@import "code-highlight.css";
