{% include get-widget-data-and-options widget="navb" include=include %}
<div class="widgetwrapper widget-navb widget-navb-{{widget_options.name}}">
  <nav class="navbar navbar-expand-sm navbar-light" role="navigation">
    <ul class="navbar-nav{% if widget_data.search.right %} mr-auto{% endif %}">
      {%- for nav in widget_data.menu -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav.link }}">{{ nav.caption }}</a>
        </li>
      {%- endfor -%}
    </ul>
    {%- if widget_data.search.box -%}
      {%- include set-current-collection -%}
      {%- assign search_engine_id = globalcurrentcollection.search_engine_id -%}
      {%- if search_engine_id -%}{%- else -%}{%- assign search_engine_id = site.google_custom_search_engine_id -%}{%- endif -%}
      {%- if globalcurrentcollection -%}{%- assign search_action = '/' | append: globalcurrentcollection.label | append: "/search "-%}{%- else -%}{%- assign search_action = "/search" -%}{%- endif -%}
      {%- if search_engine_id -%}
        {%- include services/google-cse.html search_engine_id=search_engine_id action=search_action inline="true" formclass=widget_data.search.formclass inputclass=widget_data.search.inputclass placeholder=widget_data.search.placeholder aria_label=widget_data.search.aria_label -%}
      {%- else -%}
        <form class="form-inline my-2 my-lg-0" action="https://www.google.com/search" method="get" role="form" onSubmit="return sitesearchauxi(this.elements[0]);">
          <input class="form-control mr-sm-2" type="search" name="q" results="0" placeholder="Search"/>
        </form>
      {%- endif -%}
    {%- endif -%}
  </nav>
</div>
