{% include get-widget-data-and-options widget="search" include=include %}
{%- if widget_options.inline -%}{%- else -%}<div class="widgetwrapper widget-search">{%- endif -%}
  {%- if widget_options.inline -%}{%- else -%}
  <h4>{% if widget_options.caption %}{{ widget_options.caption }}{% else %}Search{% endif %}</h4>
  {%- endif -%}
  <form{% if widget_options.inline %} class="form-inline"{% endif %} action="https://www.google.com/search" method="get" role="form" onSubmit="return sitesearchauxi(this.elements[0].elements[0]);">
    {%- if widget_options.inline -%}{%- else -%}<fieldset role="search">{%- endif -%}
      <input class="form-control" type="search" name="q" results="0" placeholder="Search"/>
    {%- if widget_options.inline -%}{%- else -%}</fieldset>{%- endif -%}
  </form>
{%- if widget_options.inline -%}{%- else -%}</div>{%- endif -%}
